@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
}

.navbar {
  width: 100%;
}

.roomtable {
  width: calc(100% - 4px);
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 17% 17% 21% 14% 14% 11%;
}

.usertable {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 30% 22% 18% 25%;
}

.gradient-text {
  text-shadow: 2px 2px 3px rgba(64, 71, 105, 0.24);
  background: radial-gradient(100% 100% at 0% 0%, #fff 0%, #d4e9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
    2px 2px 3px rgba(64, 71, 105, 0.24);
}

.text-shadow2 {
  text-shadow: 2px 2px 3px rgba(64, 71, 105, 0.24);
}

.fold {
  background: radial-gradient(
    112.5% 100% at 0% 0%,
    rgba(133, 255, 211, 0.64) 0%,
    rgba(58, 115, 226, 0.64) 100%
  );
  backdrop-filter: blur(4px);
}

.green-bubble {
  background: radial-gradient(112.5% 100% at 0% 0%, #9cff8c 0%, #10bf61 100%);
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background-color: #383f63;
  border-radius: 10px 10px 5px 10px;
  border: none;
  outline: none;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 400%;
  position: relative;
  top: -150%;
  border-radius: 999px;
  background: radial-gradient(
    134.82% 199.51% at 149.63% 49.88%,
    #768eb4 0%,
    #576990 100%
  );
  box-shadow: 4px 4px 10px 0px rgba(114, 136, 171, 0.56) inset,
    -4px -4px 10px 0px rgba(44, 51, 82, 0.52) inset,
    2px 2px 2px 0px rgba(122, 144, 176, 0.16) inset;
  cursor: pointer;
  border: none;
  outline: none;
}

.custom-range::-webkit-slider-runnable-track {
  background: linear-gradient(270deg, #ff4259 0%, #4462ff 53.65%, #3cf1bb 100%);
  border-radius: 10px;
  width: 90%;
  height: 100%;
}

.circle {
  border-radius: 999px;
  background: radial-gradient(
    134.82% 199.51% at 149.63% 49.88%,
    #768eb4 0%,
    #576990 100%
  );
  box-shadow: 4px 4px 10px 0px rgba(114, 136, 171, 0.56) inset,
    -4px -4px 10px 0px rgba(44, 51, 82, 0.52) inset,
    2px 2px 2px 0px rgba(122, 144, 176, 0.16) inset;
}

.circle2 {
  border-radius: 999px;
  background: #1bd1e1;
  box-shadow: 2px 2px 3px 0px rgba(86, 108, 211, 0.24),
    1px 1px 1px 0px rgba(255, 255, 255, 0.64) inset;
}

.btn4 {
  background: radial-gradient(
    203.97% 141.42% at 0% 0%,
    #535f86 0%,
    #40496c 100%
  );
  box-shadow: 4px 4px 24px 0px rgba(137, 153, 180, 0.24) inset,
    -4px -4px 16px 0px rgba(44, 51, 82, 0.88) inset,
    2px 2px 2px 0px rgba(104, 115, 159, 0.16) inset;
}

.disabled {
  opacity: 0.56;
}

.custom-range::-moz-range-progress {
  height: 6px;
  background: linear-gradient(
    270deg,
    #ff4259 0%,
    #4462ff 53.65%,
    #3cf1bb 100%
  ); /* Измените цвет трека перед thumb на красный */
  border-radius: 10px;
  filter: blur(1px);
}

* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes dealer0 {
  0% {
    left: 38%;
    top: 77%;
  }
}
@keyframes dealer1 {
  0% {
    left: 7%;
    top: 64%;
  }
}
@keyframes dealer2 {
  0% {
    left: 9%;
    top: 33%;
  }
}
@keyframes dealer3 {
  0% {
    left: 65%;
    top: 15.5%;
  }
}
@keyframes dealer4 {
  0% {
    left: 86%;
    top: 33%;
  }
}
@keyframes dealer5 {
  0% {
    left: 88.7%;
    top: 64%;
  }
}
@keyframes card0 {
  0% {
    left: 47.5%;
    top: 45%;
    width: 5%;
  }
}
@keyframes card1 {
  0% {
    left: 47.5%;
    top: 45%;
    width: 5%;
  }
  60% {
    left: 47.5%;
    top: 45%;
    width: 5%;
  }
}

.myround {
  border-radius: 200px 100px 100px 200px;
}

.btn1 {
  border-radius: 12px;
  background: radial-gradient(
    135.66% 135.66% at 100% 0%,
    #4d597c 0%,
    #56688e 100%
  );
  box-shadow: 4px 4px 24px 0px rgba(114, 136, 171, 0.56) inset,
    -4px -4px 16px 0px rgba(44, 51, 82, 0.52) inset,
    2px 2px 2px 0px rgba(122, 144, 176, 0.08) inset;

  color: #d4e9ff;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(64, 71, 105, 0.24);
  font-weight: 700;
  line-height: 151%;
  letter-spacing: 0.32px;
}

.btn2 {
  border-radius: 12px;
  /* opacity: 0.56; */
  background: radial-gradient(
    121.22% 121.22% at 100% 14.29%,
    #57688b 0%,
    #3d4768 100%
  );
  box-shadow: 4px 4px 24px 0px rgba(114, 136, 171, 0.56) inset,
    -4px -4px 16px 0px rgba(44, 51, 82, 0.7) inset,
    2px 2px 2px 0px rgba(122, 144, 176, 0.16) inset;
  font-weight: 700;
}

.btn-blue {
  background: radial-gradient(
    123.11% 141.42% at 0% 0%,
    #85ffd3 0%,
    #3a73e2 100%
  );
  box-shadow: 2px 2px 8px 0px rgba(210, 255, 220, 0.72) inset,
    2px 2px 2px 0px rgba(63, 73, 100, 0.24);
  font-weight: 700;
}

.btn-red {
  background: radial-gradient(
    155.21% 141.42% at 0% 0%,
    #ffc5b8 0%,
    #db3297 100%
  );
  box-shadow: 2px 2px 8px 0px rgba(255, 234, 210, 0.72) inset;
  filter: drop-shadow(2px 2px 2px rgba(63, 73, 100, 0.32));
}

.avatar {
  background: radial-gradient(50% 100% at 0% 50%, #607596 0%, #444b6b 100%);
}

.modal-bg {
  background: radial-gradient(
    263.35% 139.1% at -0.03% 0%,
    rgba(68, 75, 107, 0.8) 0%,
    rgba(90, 107, 140, 0.8) 100%
  );
}
.rounded-tl-4xl {
  border-top-left-radius: 2rem !important;
}
.rounded-tl-5xl {
  border-top-left-radius: 2.5rem !important;
}
.rounded-br-4xl {
  border-bottom-right-radius: 2rem !important;
}
.rounded-br-5xl {
  border-bottom-right-radius: 2.5rem !important;
}
* {
  font-size: 12px;
}

.pic {
  height: 12px;
}

.text-huge {
  font-size: 16px;
}
.text-card {
  font-size: 28px;
}
.pic-huge {
  height: 16px;
}

.text-tiny {
  font-size: 10px;
}

@media screen and (min-width: 1024px) {
  .custom-range {
    height: 6px;
  }
  .custom-range::-webkit-slider-thumb {
    width: 15px;
  }
  * {
    font-size: 14px;
  }
  .pic {
    height: 14px;
  }
  .text-tiny {
    font-size: 12px;
  }
  .text-huge {
    font-size: 18px;
  }
  .text-card {
    font-size: 32px;
  }
  .pic-huge {
    height: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .custom-range {
    height: 8px;
  }
  .custom-range::-webkit-slider-thumb {
    width: 20px;
  }
  * {
    font-size: 16px;
  }
  .text-tiny {
    font-size: 14px;
  }
  .pic {
    height: 16px;
  }
  .text-huge {
    font-size: 20px;
  }
  .text-card {
    font-size: 36px;
  }
  .pic-huge {
    height: 20px;
  }
}

@media screen and (min-width: 1536px) {
  * {
    font-size: 18px;
  }
  .text-tiny {
    font-size: 16px;
  }
  .pic {
    height: 18px;
  }
  .text-huge {
    font-size: 24px;
  }
  .text-card {
    font-size: 40px;
  }
  .pic-huge {
    height: 24px;
  }
}

.card-bg {
  border-radius: 8px;
  background: radial-gradient(
    234.01% 141.42% at 0% 100%,
    #7791ba 0%,
    #4d557c 100%
  );
  box-shadow: 2px 2px 2px 0px rgba(136, 158, 191, 0.16) inset,
    2px 2px 2px 0px rgba(52, 61, 92, 0.22);
}

.gradient-text-h {
  background: radial-gradient(
    123.11% 141.42% at 0% 0%,
    #ffc5b8 0%,
    #db3297 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-c {
  background: radial-gradient(
    123.11% 141.42% at 0% 0%,
    #d6a3ff 0%,
    #5b21ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-s {
  background: radial-gradient(
    123.11% 141.42% at 0% 0%,
    #83bcff 0%,
    #4945ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-d {
  background: radial-gradient(
    123.11% 141.42% at 0% 0%,
    #6bf6ff 0%,
    #1f6bff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
